.container {
  width: 50%;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  border: 3px solid #f1f1f1;
  padding: 20px;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

#message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}


  .clock {
    font-size: 3em;
    text-align: center;
    font-family: sans-serif;
  }